.viewTitle {
  margin-top: 8px;
  font-size: 3.2rem;
}
.viewDesc,
.newDesc {
  font-size: 24px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
}
.viewAuthor {
  font-size: 25px;
}
.viewPages {
  font-size: 23px;
}

.bookInfo {
  gap: 15px;
  margin: 100px 0;
  background-color: rgba(232, 232, 232, 0.87);
  border-radius: 10px;
}
.bookInfoTop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.noBook {
  font-size: 70px;
  font-weight: 700;
  margin-top: 300px;
  font-family: var(--font-classic);
  color: White;
}
.medFlag {
  width: 45px;
}

@media screen and (max-width: 430px) {
  .bookInfo {
    margin: 5px 5px 20px 5px;
  }
}
