.formRow {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  width: 90%;
}
.horRow {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.formText {
  color: white;
  font-size: 20px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.flex input {
  width: 85%;
}

.bookDesc {
  height: 150px;
}
.tinyFlag {
  width: 30px;
  margin-right: 8px;
}
