.messageContainer {
  position: fixed;
  top: -100px;
  /* left: calc(50vw - 180px); */
  z-index: 20;
  width: 500px;
  height: 40px;
  padding: 7px;
  border-radius: 0 0 20px 20px;
  transition: all 0.3s ease-in-out;
}
.messageContainer.active {
  top: 0px;
}

.message {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-classic);
  color: rgb(0, 4, 19);
}
