.searchForm {
  display: flex;
  align-items: center;
}

.SearchInfoText,
.searchNavText {
  color: whitesmoke;
  font-family: var(--font-classic);
  font-size: 32px;
}
.searchNavText {
  font-size: 40px;
}
.searchNavContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.searchNavBtn {
  padding: 10px 10px 3px 10px;
}
