.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
  margin: 1.5rem;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.6),
      rgba(36, 42, 46, 0.6)
    ),
    url("/img/book-back.jpg");
  background-size: cover;
  background-position: center;
  padding: 1.5rem;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcomeText,
.welcomeTextSmall {
  margin: 0;
  text-align: center;
  color: whitesmoke;
  font-size: 2rem;
}
.welcomeTextSmall {
  font-size: 1.5rem;
}
.welcomeTitle {
  background-image: linear-gradient(
    90deg,
    var(--color-light-gold),
    var(--color-dark-gold)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  margin: 30px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  margin-bottom: 50px;
}

.errorMessage {
  color: whitesmoke;
  padding: 20px;
}

/* for Login - Register page */
.enterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 40%;
  margin-bottom: 70px;
}
.enterInput {
  border-color: var(--color-light);
  background-color: rgba(240, 248, 255, 0.365);
  width: 70%;
  height: 2.5rem;
  font-size: 2rem;
  color: var(--color-bright);
}
.loginTitle {
  font-family: var(--font-classic);
  font-size: 5rem;
  color: var(--color-light);
  margin-bottom: 1rem;
}
.underlineContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.underline {
  position: absolute;
  bottom: -18px;
  color: var(--color-dark-gold);
}
.backLink {
  position: absolute;
  top: 30px;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff;
  font-size: 34px;
  font-family: var(--font-classic);
  color: rgba(252, 249, 252, 0.802);
  margin: 14px 0 9px 0;
  text-decoration: none;
}

@media screen and (max-width: 430px) {
  .homepage {
    padding: 0;
    margin: 5px;
  }
  .welcomeTitle {
    font-size: 3rem;
    margin: 20px 5px;
  }
  .buttonContainer {
    flex-direction: column;
    gap: 30px;
  }
  .enterForm {
    width: 80%;
  }
  .loginTitle {
    font-size: 3rem;
  }
}
